@page
@model Bookstore.Pages.CartModel
@{
}

<div class="container">
    <h1>Shopping Cart</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Book</th>
                <th>Quantity</th>
                <th>Cost</th>
                <th>Subtotal</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var i in Model.cart.Items)
            {
                <tr>
                    <td>@i.Book.Title</td>
                    <td>@i.Quantity</td>
                    <td>@i.Book.Price</td>
                    <td>@(i.Book.Price * i.Quantity)</td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <th colspan="3">Total:</th>
                <th>@Model.cart.CalculateTotal().ToString("c")</th>
            </tr>
        </tfoot>
    </table>

    <div>
        <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
    </div>
</div>

